body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                  color: #3f3f3f;
                  margin-bottom: 1px;}
a               { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                  margin: 10;
                  color: #00ff15; }
h1              { color: #814444;
                  margin: 0;
                  margin-bottom: 5px;
                  margin-top: 5px; }
h2              { font-size: 1.2em;
                  margin: 0;
                  color: #465880;
                  margin-bottom: 5px;
                  margin-top: 5px; }

div.ex1 {
  background-color: lightblue;
  height: 100px;
  width: 1500px;  
  overflow-y: scroll;       
}
table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:center;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}
div.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #eee;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}


tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}